* {
box-sizing: border-box;
}

body {
    background: rgb(35, 159, 241) ;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    margin: 0;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container {
width: 100%;
max-width: 420px;
padding: 24px;
background: rgb(128, 223, 255);
border: 1px solid rgb(255, 255, 255);
border-radius: 20px;
box-shadow: 0 5px 25px rgb(255, 255, 255);
}


input,button {
background: rgba(246, 248, 250, 0.8);
color: rgb(15, 3, 3);
padding: 7px;
border: 1px solid black;
border-radius: 20px;
cursor: pointer;
width: 100%;
}

@media (max-width: 360px) {
    .container {
    padding: 12px;
    }
}